<div id="dep" class="current">
    <div class="toolbar">
        <a href="#" class="button back">Back</a>
    </div>
    <ul class="metal">
        {% for service in services %}
        <li class="arrow"><a href="/s?id={{ service.serviceID }}&crs={{ crs }}">{{ service.std }}
            <em>{{ service.destination.location.locationName }}</em></a></li>
        {% endfor %}
    </ul>
    <ul class="individual">
        <li><a href="#">Reload</a></li>
        <li><a href="#">Later Trains</a></li>
    </ul>
    <div class="info">
        <p>Data as of {{ asof }}. Hobby project - Don't sue yet :)</p>
    </div>
</div>
