<div id="dep" class="current">
    <div class="toolbar">
        <h1>{{ location|safe }} departures</h1>
        <a href="#" class="button back">Search</a>
    </div>
    <ul class="metal">
        {% if services %}
        {% for service in services %}
        <li class="arrow"><a href="/s?id={{ service.serviceID|safe }}&amp;crs={{ crs }}" class="swap">{{ service.std }}
        {% ifnotequal service.etd "On time" %}
        {% ifnotequal service.etd "Starts here" %}
        {% ifnotequal service.etd "No report" %}
            {% ifnotequal service.etd service.std %}
                <strong class="delayed">{{ service.etd }}</strong>
            {% endifnotequal %}
        {% endifnotequal %}
        {% endifnotequal %}
        {% endifnotequal %}
        <em class="below">{{ service.destination.location.locationName|safe }}</em></a></li>
        {% endfor %}
        {% else %}
        <li>No trains available.</li>
        {% endif %}
    </ul>
    <ul class="individual">
        <li><a href="/f/?fromS={{ crs }}&viaS={{ filterCrs }}">Add to Favorites</a></li>
        <li><a href="#">Later Trains</a></li>
    </ul>
    <div class="info">
        <p>Details as of {{ asof }}</p>
    </div>
</div>
